.history {
  background: #283b5b;
  padding: 30px;
  padding-bottom: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 15px;
    font-weight: 500;
    color: #7187ac;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
  }

  &__item {
    border-radius: 7px;
    background-color: white;
    padding: 18px;
    color: #283b5b;
    margin-bottom: 30px;

    &--date {
      font-size: 10px;
      font-weight: 600;
      color: #00ddc2;
      margin-top: 0;
    }

    hr {
      opacity: .5;
    }

    &--speed {
      font-size: 11px;

      span {
        font-size: 18px;
        font-weight: 800;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .button--more {
    border-radius: 7px;
    border: solid 2px #00ddc2;
    background: transparent;
    width: 100%;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 42.5px;
    font-weight: 300;
    line-height: 0.91;
    padding: 5px 20px;
    color: #00ddc2;
    cursor: pointer;
    transition: .5s;

    &:hover {
      opacity: 1;
    }
  }
}