.topbar {
  padding: 40px 30px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;        
  color: #999;
  font-size: 17.5px;
  font-weight: 300;

  &__avatar {
    position: relative;
    display: flex;
    align-items: center;

    &--img {
      height: 40px;
      width: 40px;
      margin-left: 15px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 40px;
        height: auto;
      }
    }

    &:hover {
      .topbar__avatar--edit {
        opacity: 1;
      }
    }
    &--edit {
      position: absolute;
      left: -10%;
      top: -10%;
      width: 120%;
      height: 120%;
      background: rgba(0,0,0,.8);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      opacity: 0;
      transition: .5s;
    }
  }
}
.name-changer {
  display: flex;
  align-items: center;
  
  input {
    border: 1px solid #CCC;
    height: 50px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    padding: 15px;
  }
  button {
    border: 1px solid #00ddc2;
    background: #00ddc2;
    height: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 18px;
    padding: 15px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
}